// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #0088cc;
$title-color:       #fff;

// ----------------------------------------------------------------------------
// Widget-comment styles
// ----------------------------------------------------------------------------
.widget-playmarket { 

  background: $background-color url('../assets/googleplay_logo.png') no-repeat 50% 50%;
  
  .title {
    font-weight: bold;
    color: $title-color;
    opacity: .9
  }

  .title {
    font-weight: bold;
    color: $title-color;
    opacity: .9
  }

  .google-rating-container {
    div > div {
      font-size: 24px
    }
  }

  .google-rating-value {
    font-size: 76px;
	color: $title-color;
    #google-rating-integer-value {
      font-weight: bold;
    }
  }

  .google-voters-count {
    font-size: 1.5em;
	color: $title-color;
    #google-voters-count-value {
      font-weight: bold
    }
  }

}
